@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1617170901762'); /* IE9 */
  src: url('iconfont.eot?t=1617170901762#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABpwAAAKNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBKIEvATYCJAMICwYABCAFhG0HMBvVBRHVk19kPwvcvRNGL0Qe039Bh0gfxcK1BH1fBM9/drz37cxyPqgScgBXSQm76KD25/QwutS7NWe2ub8ZEaFKcgrIoy/kqZBePh14wCmXZvzZEqlKAPxx7/RPoA8y33mX41401qRJXYBxIAU41qJAAi6SyBvGLniBhyFAQBYVSOd1cBIeGnuUALIqLJ2PV/Ci0SzhITgNCzVyCBvP2m3dATgYfV9+U4kHFrbCLhld0rWI1m9yUtSmcNOsAMEHAlpuAwqoADTIpMboMAphlCKIavLgWIUC3xSGgQU5qhFhf52dHwFABhQ9k9iTPKqgBYCGzlAJdE56F1AxKRFrt0+eTNJPn06OfP58qv3s2exzq4y49SjLvvi4xhw/nmhOnhRz82HmLHPs2Kbjxuw9uflEyZpTTCfMnElnM52hvlMKyAoRVC4tfhf55nbsgzuRzZF3HtQG/y7FKze1D95Ejk9ccenJzLBiG/wOewDCqjLVCQIIRN783D03uvG/ZzQAb1I9jdxhNcPs4J3LJvDPxAMbtCG1zZbWxI1Ji0rUvZQFBEAI7Izj3VRd4g0mBY/E27S7ZGag8ChANVkBNoZKcPBogYByepYb4lmNQrQPlLEdgBDDZbCIYhwUMdxFNfkWbJL4Cw4xoiBgisRvaCgSLZgOoVqpw+aPoeXJulY1ceGd3DLUkpdG9JskhQCWWVFO3GgiWWJK+rhK1aIVHvEKjqNhYJyFI7WaedV5l+e26UVZyyMYsFCt1GHzx9DyZIPWaiqfv5Nbhlo66urCb5IUuscyKwagN9U0qO5RnkkfV6latMIjXkE/GgbGublfpFYzPyE873KnmR2qyrbXjH+3DQADtn69cnptgMnzEgMAAAAA') format('woff2'),
  url('iconfont.woff?t=1617170901762') format('woff'),
  url('iconfont.ttf?t=1617170901762') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1617170901762#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e62e";
}

